.name{
    position: absolute;
    width: 141px;
    height: 742px;
    right: 70px;
    top: 141px;
}

.about-button{
    font-family: Montserrat, arial;
    position: absolute;
    left: 526px;
    top: 284px;
    font-style: normal;
    font-weight: 200;
    font-size: 75px;
    line-height: 91px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    transition: opacity 100ms;
    text-decoration: none;
    
}

.about-button:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    cursor: pointer;
}

.about-button:active{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    cursor: pointer;
    opacity: 75%;
}

.project-button{
    font-family: Montserrat, arial;
    position: absolute;
    width: 400px;
    height: 91px;
    left: 552px;
    top: 467px;
    font-style: normal;
    font-weight: 200;
    font-size: 75px;
    line-height: 91px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    transition: opacity 100ms;
    text-decoration: none;

}
.project-button:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    cursor: pointer;
}

.project-button:active{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    cursor: pointer;
    opacity: 75%;
}

.contact-button{
    font-family: Montserrat, arial;
    position: absolute;
    width: 400px;
    height: 91px;
    left: 526px;
    top: 649px;
    font-style: normal;
    font-weight: 200;
    font-size: 75px;
    line-height: 91px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    transition: opacity 100ms;
    text-decoration: none;
}

.contact-button:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    cursor: pointer;
}

.contact-button:active{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    cursor: pointer;
    opacity: 75%;
}

.FR-button{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 32px;
    font-family: montserrat, arial;
    text-decoration: none;
    position: absolute;
    width: 78px;
    height: 78px;
    left: 381px;
    top: 797px;
    border-color: white;
    border-style: solid;
    border-radius: 50px;
    border-width: 2px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
    justify-content: center;
    transition: opacity 300ms, background-color 300ms, color 300ms;
    
}

.FR-button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.FR-button:active{
    background-color: white;
    color: black;
    cursor: pointer;
    opacity: 75%;
}

@media screen and (max-width:1200px){
    .about-button{
        left: 326px;

    }
    .project-button{
        left: 352px;

    }
    .contact-button{
        left: 326px;

    }
    .FR-button{
        left: 181px;

    }
}