.planet-2{
    position: absolute;
    top: 137px;
    right: 0px;
    width: 470px;
    height: 959px;

}

.about-text{
    position: absolute;
    width: 339px;
    height: 172px;
    left: 70px;
    top: 42px;
    z-index: 4;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 112px;
    line-height: 153.8%;
    display: flex;
    align-items: center;
    color: #FEFEFE;
    margin: 0 0 0 0;
}

.photo{
    box-sizing: border-box;

    position: absolute;
    left: 5%;
    right: 70%;
    top: 248px;
    bottom: 152px;

    border: 2px solid #FFFFFF;
    border-radius: 20px;
    background-image: url(picture/MOI2LEREOTU.jpg);
    background-size: 100%;

}

.pp{
    width: 467.250px;
    height: 618px;
    border-radius: 20px;
}

.texte-cv{
    box-sizing: border-box;

    position: absolute;
    left: 33%;
    right: 5%;
    top: 248px;
    bottom: 152px;

    border: 2px solid #FFFFFF;
    border-radius: 20px;
}

.resume{
    box-sizing: border-box;

    position: absolute;
    left: 5%;
    right: 5%;
    top: 906px;
    bottom: 42px;

    border: 2px solid #FFFFFF;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 36px;
    line-height: 153.8%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    transition: opacity 200ms, background-color 300ms, color 300ms;
    text-decoration: none;

}

.resume:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: black;
}

.resume:active{
    cursor: pointer;
    background-color: #ffffff;
    color: black;
    opacity: 75%;
}



.title-cv{


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 52px;
    line-height: 130%;

    display: flex;
    margin: 35px 0 0 15px;
    

    color: #FFFFFF;
}

.paragraph-cv{
    

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 36px;
    line-height: 130%;

    margin:40px 10px 0 15px;

    display: flex;

    color: #FFFFFF;

}

.arrow{
    position: absolute;
    right: 70px;
    top: 98px;
    width: 84px;
    height: 63px;
    transition: all 100ms;

}
.arrow:hover{
    content: url(picture/triangle\ hd\ hover.png);
}

.arrow:active{
    opacity: 75%;
}

.triangle{
    width: 84px;
    height: 63px;
}





