.contact-text{
    position: absolute;
    
    left: 70px;
    top: 40px;
    margin: 0 0 0 0;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 112px;
    line-height: 153.8%;

    color: #FEFEFE;
}

.mail{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 811px;
    height: 83px;
    left: 90px;
    top: 298px;

}

.mail-text{
    width: 692px;
    height: 63px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 36px;
    line-height: 153.8%;

    display: flex;
    align-items: center;

    color: #FFFFFF;
    text-decoration: none;
    transition: all 300ms;
}

.mail-text:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.mail-text:active{
    opacity: 75%;
}

.mail-pic{
    width: 79px;
    padding-right: 20px;
}

.github{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 811px;
    height: 83px;
    left: 90px;
    top: 400px;
}

.git-logo{
    width: 79px;
    padding-right: 20px;
}

.git-text{
    width: 692px;
    height: 63px;
    padding-top: 8px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 36px;
    line-height: 153.8%;

    display: flex;
    align-items: center;

    color: #FFFFFF;
    text-decoration: none;
    transition: all 300ms;
}

.git-text:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.git-text:active{
    opacity: 75%;
}

.itch{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    height: 83px;
    left: 400px;
    top: 400px;
}

.itch-logo{
    width: 79px;
    padding-right: 20px;
}

.itch-text{
    height: 63px;
    padding-top: 8px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 36px;
    line-height: 153.8%;

    display: flex;
    align-items: center;

    color: #FFFFFF;
    text-decoration: none;
    transition: all 300ms;
}

.itch-text:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.itc-text:active{
    opacity: 75%;
}

.planet4{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 108px;
}
