
html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(90deg, #2D2D2D 0%, #171515 100%);
    position: relative;
    height: 4096px;
    font-family: Montserrat, arial;
}

.planet1{
    position: absolute;
    width: 508px;
    height: 1198px;
}

.name{
    position: absolute;
    width: 144px;
    height: 743px;
}
.acceuil{
    box-sizing: border-box;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 75%;

    
    
}

.about{
    box-sizing: border-box;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 25%;
    bottom: 50%;

    
}

.section2 {
    position: absolute;
    box-sizing: border-box;
    top: 25%;
}

.project{
    box-sizing: border-box;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 50%;
    bottom: 25%;

    
}

.contact{
    box-sizing: border-box;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 75%;
    bottom: 0%;

    
}