
html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(90deg, #2D2D2D 0%, #171515 100%);
    position: relative;
    min-height: 4096px;
    font-family: Montserrat, arial;
    padding: 0 0 0 0;
    margin: 0 0 0 0;

}

.planet1{
    position: absolute;
    width: 508px;
    min-height: 1198px;
    max-width: 100%;
    
}

.name{
    position: absolute;
    width: 144px;
    min-height: 743px;
    max-width: 100%;
}
.acceuil{
    box-sizing: border-box;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 75%;
    min-height: 1024px;
}

.about{
    box-sizing: border-box;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 25%;
    bottom: 50%;
    min-height: 1024px;
    

    
}



.project{
    box-sizing: border-box;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 50%;
    bottom: 25%;
    min-height: 1024px;
    

    
}

.contact{
    box-sizing: border-box;
    min-height: 1024px;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 75%;
    bottom: 0%;
    

    
}

textarea{
    resize: none;
}

@media screen and (max-width:1200px){
    .planet1{
        left: -200px;

    }
}